{%  extends "literature/base.html" %}

{% load humanize %}

{% block title %}{{ text.novel.title }} - {{ text.title }} (Roman){% endblock %}

{% block header %}{{ text.novel.title }} - {{ text.title }}{% endblock %}

{% block text %}
    {{ text.text_html|safe }}
    {% if next_chapter %}
        <p class="text-right"><em>→ <a href="{{ next_chapter.get_absolute_url }}">Chapitre suivant : {{ next_chapter.title }}</a></em></p>
    {% endif %}
{% endblock %}

{% block nav %}
    <h1>Chapitres</h1>
    <ul>
    {% for chapter in chapters %}
        <li><a href="{{ chapter.get_absolute_url }}">{{ chapter.title }}</a></li>
    {% endfor %}
    </ul>
    <h1>Romans</h1>
    <ul>
    {% for novel in novels %}
        <li><a href="{{ novel.get_absolute_url }}">{{ novel.title }}</a></li>
    {% endfor %}
    </ul>
    <h1>Nouvelles</h1>
    <ul>
    {% for short_story in short_stories %}
        <li><a href="{{ short_story.get_absolute_url }}">{{ short_story.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block aside %}
    <h1>Navigation</h1>
    {% if previous_chapter %}
        <p>← <a href="{{ previous_chapter.get_absolute_url }}">Chapitre précédent</a></p>
    {% endif %}
    {% if next_chapter %}
        <p>→ <a href="{{ next_chapter.get_absolute_url }}">Chapitre suivant</a></p>
    {% endif %}
    <h1>Publication</h1>
    <p>Publié {{ text.pub_date|naturaltime }}</p>
    {% if text.last_update %}
        <p>Mis à jour {{ text.last_update|naturaltime }}</p>
    {% endif %}
    {% if text.author_comment_html %}
        <h1>Commentaire</h1>
        {{ text.author_comment_html|safe }}
    {% endif %}
{% endblock %}