{%  extends "literature/base.html" %}

{% load humanize %}

{% block title %}{{ text.title }} (Nouvelle){% endblock %}

{% block header %}{{ text.title }}{% endblock %}

{% block text %}{{ text.text_html|safe }}{% endblock %}

{% block nav %}
    <h1>Nouvelles</h1>
    <ul>
    {% for short_story in short_stories %}
        <li><a href="{{ short_story.get_absolute_url }}">{{ short_story.title }}</a></li>
    {% endfor %}
    </ul>
    <h1>Romans</h1>
    <ul>
    {% for novel in novels %}
        <li><a href="{{ novel.get_absolute_url }}">{{ novel.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block footer %}
    <p>
        Cette nouvelle a été publiée {{ text.pub_date|naturaltime }}{% if text.last_update %}
        et mise à jour {{ text.last_update|naturaltime }}{% endif %}.
    </p>
    {{ text.author_comment_html|safe }}
{% endblock %}