body {
    margin: 0;
	font-family: 'Merriweather', serif;
}
h1 {
	font-family: 'Josefin Slab', serif;
	font-size: 4ex;
}
header h1 {
    text-align: center;
    font-size: 8ex;
}
nav {
    border-right: 1px solid #888;
}
aside {
    border-left: 1px solid #888;
}
ul {
    list-style-type: none;
    padding: 0;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
main p {
	text-indent: 4ex;
}
main p:first-of-type {
    padding-top: 2ex;
    text-indent: 0;
}
main p:first-of-type:first-letter {
    font-size: 6ex;
    float: left;
    margin-left: 1ex;
}
.row {
	margin: auto;
	max-width: 170ex;
}
footer {
    background-color: #EEE;
    color:#444;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1ex 2ex;
    margin-bottom: 1ex;
}